{:title "Authentication"
 :content
 [:main
  [:section
   [:h1 "Authentication"]
   [:aside
    [:pre (str "(defn foo [x]\n"
               "  (println x))")]]
   [:p "Hello, world! 2"]]
  [:section
   [:h2 {:id "users"} "User accounts"]
   [:p "Security and support email addresses."]]
  [:section
   [:h2 {:id "clients"} "Clients"]
   [:p "Clients."]]
  [:section
   [:h2 {:id "eat"} "EAT (Enqueue Authentication Tokens)"]
   [:p "EAT."]]]}
