{:content
 [:div
  [:section
   [:h1 "Docs"]
   [:p
    "This is the developer documentation for Enqueue.  Here you will find all
    the information you need to build a compatible "
    [:a {:href "https://en.wikipedia.org/wiki/Client_%28computing%29"} "client"]
    "."]
   [:ul
    [:li [:a {:href "/docs/prerequisites"} "Prerequisites"]]
    [:ul
     [:li [:a {:href "/docs/prerequisites#charset"} "Character encoding"]]
     [:li [:a {:href "/docs/prerequisites#compression"} "Compression"]]
     [:li [:a {:href "/docs/prerequisites#transit"} "Transit"]]
     [:li [:a {:href "/docs/prerequisites#idempotency"} "Idempotency"]]]
    [:li [:a {:href "/docs/authentication"} "Authentication"]]
    [:ul
     [:li [:a {:href "/docs/authentication#users"} "User accounts"]]
     [:li [:a {:href "/docs/authentication#clients"} "Clients"]]
     [:li [:a {:href "/docs/authentication#eat"} "EAT (Enqueue Authentication Tokens)"]]]
    [:li "Payments"]
    [:li "Library"]
    [:li "Streaming"]
    [:li "MPD"]
    [:li "Store"]]]]}
