{:title "Support"
 :content
 [:div
  [:section
   [:h1 "Support"]
   [:p
    "Please let me know if you have any issues, I'll be happy to help."]
   [:ul
    [:li "Questions, bug reports and suggestions: "
     [:a {:href "mailto:enquiries@enqueue.org"} "enquiries@enqueue.org"]]
    [:li "Anything security related: "
     [:a {:href "mailto:security@enqueue.org"} "security@enqueue.org"]]]
   #_[:p "To keep up-to-date on the latest developments, you can subscribe to
       the anouncements mailing list."]]]}
