{:lint-as {org.enqueue.api.db/def-db-fn clojure.core/def}
 :linters
 {:unresolved-symbol {:exclude [(uk.axvr.refrain/when-let*)
                                (org.enqueue.api.db/with-connection)
                                (org.enqueue.api.db/with-transaction)]}}}
