{:linters
 {:unresolved-symbol {:exclude [(org.enqueue.api.helpers/when-let*)
                                (org.enqueue.api.db/with-connection)
                                (org.enqueue.api.db/with-transaction)]}}}
