{:env :dev
 :eat {:signing-key "YgD5sNrVH+JbCyPeih21gZQkk1c/qFBeLtkn0T+BenY="}
 :db  {:dbtype   "postgresql"
       :dbname   "enqueue"
       :host     "localhost"
       :port     5455
       :user     "postgres"
       :password "postgres"}
 :server {:port    7881
          :origins {:cors #{"https://localhost:6881"}
                    :xss  #{}}}}
