{:paths ["src" "resources"]
 :deps  {org.clojure/clojure     {:mvn/version "1.10.3"}
         ring/ring-core          {:mvn/version "1.9.3"}
         ring/ring-jetty-adapter {:mvn/version "1.9.3"}
         clout/clout             {:mvn/version "2.2.1"}
         caesium/caesium         {:mvn/version "0.14.0"}
         hiccup/hiccup           {:mvn/version "1.0.5"} ;; TODO: remove.
         ragtime/ragtime         {:mvn/version "0.8.1"}
         org.postgresql/postgresql         {:mvn/version "42.2.20"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
         com.github.seancorfield/honeysql  {:mvn/version "2.0.0-rc1"}}
 :aliases {:test {:extra-paths ["tests"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
                  :exec-fn cognitect.test-runner.api/test
                  :exec-args {:dirs ["tests"]}}
           :run {:exec-fn org.enqueue.core/run
                 :exec-args {:dev? true
                             :port 3000}}}}
