{:paths ["src" "resources"]
 :deps  {org.clojure/clojure               {:mvn/version "1.11.1"}
         io.pedestal/pedestal.service      {:mvn/version "0.5.10"}
         io.pedestal/pedestal.jetty        {:mvn/version "0.5.10"}
         org.slf4j/slf4j-simple            {:mvn/version "2.0.3"}
         caesium/caesium                   {:mvn/version "0.15.0"}
         org.clojure/core.cache            {:mvn/version "1.0.225"}
         org.clojure/core.memoize          {:mvn/version "1.0.257"}
         hiccup/hiccup                     {:mvn/version "1.0.5"}
         com.cognitect/transit-clj         {:mvn/version "1.0.329"}
         ragtime/ragtime                   {:mvn/version "0.8.1"}
         org.postgresql/postgresql         {:mvn/version "42.5.0"}
         com.zaxxer/HikariCP               {:mvn/version "5.0.1"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.3.834"}
         com.github.seancorfield/honeysql  {:mvn/version "2.3.928"}
         uk.axvr/refrain                   {:mvn/version "0.1"}}
 :aliases {:dev  {:extra-paths ["config/dev"]}
           :prod {:extra-paths ["config/prod"]}
           :run  {:exec-fn org.enqueue.api.core/run}
           :test {:extra-paths ["test" "config/test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               uk.axvr/dynamock       {:mvn/version "0.4"}}
                  :exec-fn org.enqueue.api.test/run-tests
                  :exec-args {:types [:unit :integration :system]}}
           :unit        {:exec-args {:types [:unit]}}
           :integration {:exec-args {:types [:integration]}}
           :system      {:exec-args {:types [:system]}}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}
           :migrate  {:exec-fn org.enqueue.api.db/migrate}
           :rollback {:exec-fn org.enqueue.api.db/rollback}
           :nrepl {:extra-deps {nrepl/nrepl       {:mvn/version "RELEASE"}
                                cider/cider-nrepl {:mvn/version "RELEASE"}}
                   :exec-args  {:nrepl? true}}}}
